<%= link_to recipe_path(recipe) do %>
  <div class="card">
    <div class="card__header"></div>
    <div class="card__main">
      <p class="card__title"><%= recipe.title.titleize %></p>
    </div>
  </div>
<% end %>
