<h1 class="page-title">Neo's</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe_path(recipe) %>
      <%= link_to "delete", recipe_path(recipe), method: :delete %>
    </li>
  <% end %>
</ul>
