<%= form_with model: @recipe, class: "form" do |f| %>
  <h2>Add a new recipe</h2>

  <div class="form__grid">
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
