<div class="text-base text-gray-300 bg-forrest-500">
  <div class="sm:flex sm:justify-between sm:items-center py-6 px-4 sm:px-6">
    <div class="hidden sm:block"></div>
    <%= link_to "About", about_path, class: "inline-block mb-2 sm:mb-0 sm:order-1 hover:text-white transition ease-in-out duration-150" %>
    <p>&copy; <%= Date.current.year %> Neo's Tree, Inc. All rights reserved.</p>
  </div>
</div>
