<nav class="border-b border-sand-100">
  <div class="mx-auto px-4 sm:px-12 lg:px-16">
    <div class="flex items-center justify-between h-16">
      <%= link_to t('.app_title'), root_path, class: "font-serif text-3xl text-forrest-500" %>
      <div>
        <% if user_signed_in? %>
          <%= link_to t('.link_new_recipe'), new_recipe_path, class: "button button--white" %>
          <%= link_to t('.link_dashboard'), dashboard_path,
              class: "ml-4 text-sea-800 hover:text-sea-300" %>
        <% else %>
          <%= link_to t('.link_log_in'), new_user_session_path, class: "button button--white" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
