<%= form_with model: @ingredient, class: "form" do |f| %>
  <h2 class="form__header">Add a new ingredient</h2>

  <div class="form__grid">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
