<div class="collection-pdf-front-cover">
  <%= cl_image_tag recipe.photo.key if recipe.photo.attached? %>
  <div class="collection-pdf-front-cover__header">
    <h1 class="collection-pdf-front-cover__title"><%= recipe.title %></h1>
    <p class="collection-pdf-front-cover__tagline"><%= t('.tagline', author: recipe.user.name ) %></p>
  </div>
</div>
