<div class="collection-pdf-front-cover" style="background-image: url('<%= cl_image_path recipe.photo.key %>')">
  <div class="collection-pdf-front-cover__header">
    <h1 class="collection-pdf-front-cover__title"><%= recipe.title %></h1>
    <p class="collection-pdf-front-cover__tagline"><%= t('.tagline', author: recipe.user.name ) %></p>
  </div>
</div>
