<div class="recipe-pdf-front-cover">
  <%= cl_image_tag photo, quality: 85 if photo.present? %>
  <div class="recipe-pdf-front-cover__header">
    <h1 class="recipe-pdf-front-cover__title"><%= title %></h1>
    <p class="recipe-pdf-front-cover__tagline"><%= t('.tagline', author: author ) %></p>
  </div>
</div>
