<h1 class="heading"><%= t ".error_status.#{@status_code}", code: @status_code %></h1>
<p class="mb-6"><%= t ".error_message.#{@status_code}" %></p>
<%= button_to t(".button_home"), root_path, method: :get, class: "button button--primary" %>
