input[type="text"],
textarea,
select,
.form-input {
  @apply w-full
  py-2 px-3
  border border-stone-100 rounded-md
  appearance-none;
}

input[type="text"]:focus,
textarea:focus,
select:focus,
.form-input:focus {
  @apply outline-none shadow-stone-100;
}

input[type="checkbox"] {
  @apply h-4 w-4;
}

input:checked {
  @apply bg-forrest-500;
}
