<%= form_with model: @unit, class: "form" do |f| %>
  <h2 class="form__header">Add a new unit</h2>

  <div class="form__grid">
    <div>
      <%= f.text_label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <%= f.submit %></div>
<% end %>
