<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <%= yield %>
  </body>
</html>

<style>
/**/
/* BASE-STYLES */

@media print {
  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica', sans-serif;
  -webkit-print-color-adjust: exact;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Times New Roman', serif;
  font-weight: 500;
  color: #1c2b36;
}

p {
  margin-top: 0;
  line-height: 1.5
}

a { color: #2d4558 }

ul, ol li { line-height: 1.625; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/**/
/* RECIPE-PDF-STYLES */
.recipe-pdf {
  color: #222;
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
}

.recipe-pdf__spacer     { margin-bottom: 1.5rem; }
.recipe-pdf__spacer--sm { margin-bottom: 1rem; }

.recipe-pdf__title      { margin-bottom: 0.5rem; }
.recipe-pdf__subheading { margin-bottom: 0.5rem; }

.recipe-pdf__ingredients {
  list-style: none;
  padding-left: 0;
}

.recipe-pdf__steps li         { line-height: 1.75; }
.recipe-pdf__steps li::marker { font-weight: 700; }

/**/
/* COLLECTION-PDF-STYLES */
.collection-pdf-front-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.collection-pdf-front-cover__header {
  margin-top: 8rem;
  text-align: center;
}

.collection-pdf-front-cover__title { font-size: 3.75rem; }

.collection-pdf-front-cover__tagline {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
</style>
